@import "tailwindcss";



:root {
  --primary-color: #A0A7F9;
  --secondary-color: #3D4260;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;

}

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.border {
  border: 1px solid #DDE1E6; /* 1px width, solid style, your color */
  border-radius: 9999px;      /* fully rounded corners */
}

/* Define text colors */
.gray-100 { color: #121619; }
.gray-90  { color: #21262A; }
.gray-80  { color: #343A3F; }
.gray-70  { color: #4D5358; }
.gray-60  { color: #697077; }
.gray-50  { color: #878E96; }
.gray-40  { color: #A2A9B0; }
.gray-30  { color: #C1C6CD; }
.gray-20  { color: #DDE1E6; }
.gray-10   { color: #FFFFFF; }

/* Define border colors */
.border-gray-100 { border-color: #121619; }
.border-gray-90  { border-color: #21262A; }
.border-gray-80  { border-color: #343A3F; }
.border-gray-70  { border-color: #4D5358; }
.border-gray-60  { border-color: #697077; }
.border-gray-50  { border-color: #878E96; }
.border-gray-40  { border-color: #A2A9B0; }
.border-gray-30  { border-color: #C1C6CD; }
.border-gray-20  { border-color: #DDE1E6; }
.border-gray-0   { border-color: #FFFFFF; }



html, body {
  height: 100%;
  margin: 0;
}

.data-center {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100% !important; /* take full height of parent */
}
